{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
    
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{% static 'header/main.css' %}">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

    

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <div class="container">

         <a href="" class="navbar-brand">
             <h2>K E T C H</h2>
         </a>

         <button class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#toggleMobileMenu"
         aria-controls="toggleMobileMenu"
         aria-label="Toggle navigation"
         aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="toggleMobileMenu">
             <ul class="navbar-nav text-center bg-light">
                 <li>
                     <a href="#" class="nav-link">
                         MEN
                     </a>
                 </li>

                 <li>
                    <a href="#" class="nav-link">
                        WOMEN
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link">
                        BRANDS
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link">
                        NEW IN
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link">
                        SUPER SALE
                    </a>
                </li>
             </ul>
         </div>

        </div>

       
        

    </nav>
      

    {% block content %}  {% endblock %}
    

   <!-- bootstrap js -->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
   <script src="{% static 'js/bootstrap.js' %}"></script>
    
</body>
</html>