{% extends 'base.html' %}

{% load static %}


{% block content%}
       <div class="carousel">
           <div class="carousel-item1">
             <img src="{% static '/images/carousel/caro_2.jpg' %}" alt="">
           </div>
           <div class="carousel-item2">
             <img src="{% static '/images/carousel/caro_2.jpg' %}" alt="">
           </div>
           <div class="carousel-item3">
             <img src="{% static '/images/carousel/caro_2.jpg' %}" alt="">
           </div>
           <div class="carousel-item4">
             <img src="{% static '/images/carousel/caro_2.jpg' %}" alt="">
           </div>
       </div>
{% endblock %}


